body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #151718;
}

.headerMain {
  margin-bottom: 40px;
}

.card-point {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 2rem;
  transform: translateY(-50%);
}

.index-card {
  margin-top: 5%;
}

.text-logo:hover,
.text-logo:focus,
.text-logo:active {
  text-decoration: none;
  color: inherit;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.view_img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.button {
  display: block;
  width: 115px;
  height: 25px;
  background: #4e9caf;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  line-height: 25px;
}

/* ADMIN */
.headerMainAdmin {
  margin-bottom: 40px;
  background-color: #151718;
  color: antiquewhite !important;
}
#sidebar {
  max-width: 20%;
  min-width: 200px;
  background-color: #151718;
  color: antiquewhite !important;
}

#content {
  width: 100%;
}
.wrapper {
  display: flex;
}
