body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #151718;
}

.headerMain {
  margin-bottom: 40px;
}

.card-point {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 2rem;
  transform: translateY(-50%);
}

.index-card {
  margin-top: 5%;
}

.text-logo:hover,
.text-logo:focus,
.text-logo:active {
  text-decoration: none;
  color: inherit;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.view_img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}
