body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.headerMain {
  margin-bottom: 40px;
}

.card-point {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 2rem;
  transform: translateY(-50%);
}

.card-title {
  margin-top: 5%;
}
