<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">spel</div>
        <a class="nav-link" href="/admin/games/list">
          <div class="sb-nav-link-icon">
            <i class="fas fa-table"></i>
          </div>
          Lista spel
        </a>
        <a class="nav-link" href="/admin/games/new">
          <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
          Lägg till spel
        </a>
        <div class="sb-sidenav-menu-heading">Spelare</div>
        <a class="nav-link" href="/admin/players/list">
          <div class="sb-nav-link-icon">
            <i class="fas fa-table"></i>
          </div>
          Lista spelare
        </a>
        <a class="nav-link" href="/admin/players/new">
          <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
          Lägg till spelare
        </a>
        <div class="sb-sidenav-menu-heading">Highscores</div>
        <a class="nav-link" href="/admin/highscores/list">
          <div class="sb-nav-link-icon">
            <i class="fas fa-table"></i>
          </div>
          Lista highscores
        </a>
        <a class="nav-link" href="/admin/highscores/new">
          <div class="sb-nav-link-icon"><i class="fas fa-plus"></i></div>
          Lägg till highscore
        </a>
      </div>
    </div>
  </nav>
</div>
